name: Release and Deploy Binary

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'

      - name: Build binary
        run: |
          mkdir -p bin
          EXT=""
          if [ "${{ matrix.goos }}" = "windows" ]; then EXT=".exe"; fi
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -o bin/whiterose-${{ matrix.goos }}-${{ matrix.goarch }}$EXT main.go

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: whiterose-${{ matrix.goos }}-${{ matrix.goarch }}
          path: bin/whiterose-${{ matrix.goos }}-${{ matrix.goarch }}*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: bin

      - name: List downloaded files
        run: ls -lhR bin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: bin/**
        env:
          GITHUB_TOKEN: ${{ secrets.WHITEROSE_GITHUB_TOKEN }}
